footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 150px;
    background-color: #772D90;
    border-top: #5e2571 10px solid;
    color: white;
    h3{
        font-size: 1.6rem;
        font-weight: bold;
    }
}